@{
  Layout = "_Layout";
}

@model CharacterMVC.Models.Character

<h2>Character Details</h2>
<ul>
  <li>First Name: @Model.FirstName</li>
  <li>Last Name: @Model.LastName</li>
  <li>Age: @Model.Age</li>
  <li>Media Title: @Model.MediaTitle</li>
  <li>Media Type: @Model.MediaType</li>
</ul>